.BlueCard {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(5, 7, 121);
    color: rgb(222, 222, 222);
    border-radius: 0px;
    padding: 200px 50px;
}

.BlueCard h1 {
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.BlueCard p {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
}

@media (max-width: 500px) {
    .BlueCard h1 {
        font-size: 2.7rem;
        max-width: 500px;
    }
}
