.Login {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px auto;
    padding-top: 40px;
    max-height: 100vh;
}
.Card{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(19, 19, 19);
    color: rgb(173, 173, 173);
    border-radius: 10px;
    width: 600px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 80px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(19, 19, 19);
    padding: 30px 25px 15px;
    color: rgb(173, 173, 173);
    border-radius: 10px;
}

.Card #container h1,
.Card #container p {
    font-weight: 100;
    text-align: center;
}

#container p {
    font-size: 1.7rem;
    margin-top: 3px;
    margin-bottom: 25px;
}

#container .login label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 3px;
    color: rgb(120, 120, 120);
    font-size: 1.4rem;
}

#container .login input {
    width: 100%;
    padding: 10px;
    border: rgb(138, 138, 138) 2px solid;
    border-radius: 5px;
}

#container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #1d346a;
    color: rgb(230, 227, 227);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#container button:hover {
    background: #335f95
}

#container {
    font-size: 1.3rem;
    margin-top: 20px;
}
#email, #password {
    font-family: 'FontAwesome';
}

@media (max-width: 500px) {
    .Card {
        max-width: 350px;
    }

    #container p {
        font-size: 1.4rem;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .Card {
        max-width: 460px;
    }

    #container p {
        font-size: 1.5rem;
    }
}